* {margin: 0; padding: 0; font-family: 'Roboto', sans-serif;}

@import "carrousel";
@import "footer";
@import "contactform";

$textcolorprincipal: #fff;
$textcolorsecundario: #efefef;


@mixin textproperty ($color, $size, $fondo) {

      color: $color;
      font-size: $size;
      background-color: $fondo;
    }
    

body {background-image: url(../imagenes/fondo.png);
      font-family: verdana}
    
#opciones {display: none;}



.programa {text-align: center;
            color: $textcolorsecundario}
.programa ul li:hover {color: aquamarine;}
.programa li {margin-top: 0.5em; list-style: none;}
.programtitle {margin-top: 1.5em;}

.contenido h1 {margin-bottom: 1em; text-align: center; color: $textcolorprincipal;}
.contenido h2 {margin: 2em 0em 1em 0em;text-align: center; color: $textcolorprincipal;}

.programtitle {margin-bottom: 1.2em; font-size: 2em;}

.maintext {padding-left: 2em; padding-right: 2em; @include textproperty($textcolorsecundario, 1.1em,none)}

.desarrollo {margin: 0;}

.desarrollo P {display: flex; justify-content: center; margin: auto; align-items: center; color: $textcolorsecundario; font-family:'DM Serif Display', serif;}


.tituloconsultas {color: $textcolorprincipal; text-align: center; margin-top: 1em;}


.destacado-con-cursor:hover {color: red;}


.wireframes {
      width: 100%; 
      max-width: 1600px;
      min-width: 500px;
      padding-top: 50px;
      margin: auto}

.wireframes img {margin-bottom: 2em; width: 100%;}


.options {width: 30px; height: 30px;}

.headerlogo {width: 150px; height: 70px; margin: auto;}

.bs-accordion-active-bg {background-color: grey;}

.tituloconsultas {margin-bottom: 30px;}


.consultasmod { padding: 0;}


.accordion-button:not(.collapsed) {
      color: #efefef;
      background-color: rgb(128, 128, 128)}


.programa ul {padding-left: 0;}
      .clases li {width: 700px; height: 50px; background-color: grey; border-radius: 15px; border: 2px solid white; text-align: center; margin-left: auto; margin-right: auto; padding-top: 10px;}


@media (max-width:768px) {   

            .contenido {text-align: center;
                  color: $textcolorsecundario; 
                  margin-bottom: 100px; 
                  margin-top: 0px;
                  margin: auto;}


          .headerlogo { color: $textcolorprincipal;
            display: flex;
            padding: 0px 0px; 
            height: 150px;
            width: 400px;
            justify-content: center;
            ; }  

            .clases li {width: 92%}
      }
          

      @media only screen and (min-width: 536px) and (max-width: 991px) {.navbar-brand {margin-right: 56px;}}
      @media only screen and (min-width: 496px) and (max-width: 535px) {.navbar-brand {margin-left: 11px;}}
      @media (max-width:990px) {.contenido h1 {margin: 1em 0 1em 0}}
      @media (max-width:400px) {.navbar-brand {margin:0}}
      