*	{margin: 0}

body {background-image: url(background.jpg);}

header{ 
    margin: 0px;
    width: 100%;
    background: hsl(0, 0%, 0%);
    display: flex;
    justify-content: space-between;
    align-items: center;}

.menu ul {display: flex;
        padding: 25px 25px;
        list-style: none;
        align-items: center;
    }

.menu a {color: white;
         text-decoration: none;
         padding: 0px 12px;
         transition: 0.5s;
        }

.menu li a:hover { color: grey}
   

header label:hover {background:grey;
                    cursor: pointer}

.opciones, .imglogo { display: none;
                        width: 30px;
                        height: 30px;
                        padding: 0px 20px}

.contenido {text-align: center;
            padding: 20px 0px;

}

.destacado-con-cursor:hover {color: red;}

.logo { color: white;
    padding: 0px 25px;}