.menu{ 
    margin: auto;
    list-style: none;
    width: 90%;
    max-width: 1000 px;
    background: #000000;
}
 .menu li a { color: white;
              display: block;
              padding: 20px;
              text-decoration: none;
 }
 .menu li {
            display: inline-block;
            text-align: center;
 }
 .menu li a:hover { background: grey
 }
 .brand img{
          width: 115px;         
 }
.destacado-con-cursor:hover {color: red;}

 body {background-image: url(background.jpg);}
