* {margin: 0}

body {background-image: url(background.jpg);
      font-family: sans-serif}

      header{ display: flex;
        margin: 0px;
        width: 100%;
        background: black;
        justify-content: space-between;
        align-items: center}

.menu ul {display: flex;
        padding: 25px 25px;
        list-style: none;
        align-items: center; justify-content: end}

.menu li a {display: block;
         color: white;
         text-decoration: none;
         padding: 0px 15px}

.menu li a:hover { color: grey;
                   transition: 0.5s}
   
.imgopciones { width: 30px;
               height: 30px;
               padding: 15px 0px}


header label {  display: none;
                width: 30px;
                height: 68px;
                cursor: pointer;
                border-left: 1px solid #fff;
                order: 1;
                padding: 0px 10px}

header label:hover{ background: grey}
    
#opciones {display: none;}

.carrousel {width: 100%; 
  height: auto;
  margin: 0px auto;
  overflow: hidden;
  animation: slide 15s infinite alternate ease-in-out}

  .carrousel ul {
    display: flex;
    width: 300%; 
    padding: 0%}


.carrousel li {
      list-style: none; 
      width: ;}

.carrousel img{ width: 100%;
      height: 480px;
      overflow: hidden}

      

@keyframes slide {
0% {margin-left: 0;}
25%{margin-left: 0;}

35%{margin-left: -100;}
60%{margin-left: -100;}

70%{margin-left: -200;}
95%{margin-left: -200;}
}


.contenido {text-align: center;
            padding: 20px 0px}

.destacado-con-cursor:hover {color: red;}

.logo { color: white;
    padding: 0px 0px; 
    height: 80px;
    display: flex;
    width: 100%;
    justify-content: center}

.piedepagina { width: 100%;
               background: black;
               position: absolute;
               bottom: 0}

.piedepagina .grupo1 {color: white;
                width: 100%;
                margin: auto;
                padding: 10px 0px;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-gap: 50px}

.piedepagina .grupo1 .box figure { width: 100%;
                                   height: 100%;
                                   display: flex;
                                   justify-content: center;
                                   align-items: center}

.piedepagina .grupo1 .box figure img {width: 200px}

.piedepagina .grupo1 .box p {color: #efefef;
                             margin-bottom: 10px}

.piedepagina .grupo1 .redsocial a .imgredsocial{ display:inline-block;
                                    width: 30px;
                                    height: 30px;
                                    line-height: 30px;
                                    margin-right: 10px;
                                    text-align: center}


.grupo2 {color: white; text-align: center; background: grey}

@media (max-width:768px) {
        
          header label {display: block; border-left: 0px; border-right: 1px solid white}  
          .menu {position: absolute; background: rgba(10, 10, 10, 0.85);  width: 70%;margin-left: -70%; transition: all 0.5s}
          .menu ul {flex-direction: column}
          header {display: block}
          .menu li {padding: 10px}
          #opciones:checked ~ .menu {margin: 0;}
          .logo { color: white;
            padding: 0px 0px; 
            height: 80px;
            display: block;
            width: 68px;
            height: 68px}
          .piedepagina .grupo1 {color: white;
                width: 90%;
                grid-template-columns: repeat(1, 1fr);
                grid-gap: 30px;
                padding: 15px 0px;}
          .piedepagina .grupo1 .box figure img {width: 100px};
        }
        
        

          
  




